body{
	background-color: black;
}
.header{
	height: 75px;
	padding-left: 25px;
	padding-right: 10px;
}
.logo{
	float: left;
	height: 50px;
	width: 70px;
}
.header_p{
font-size: 20px;
color: white;
float: right;
 margin-right: 15px;
} 
.p1{
	color: white;
	font-size: 30px;
	margin-top: 300px;
	margin-left: 50px;
}
.p2{
	color: white;
	font-size: 100px;
	margin-left: 50px;
	font-family: Roboto;
}
.p3{
	color: white;
	font-size: 20px;
	margin-left: 50px;
}
.p4_div{
	float: right;
	width: 900px;
}
.p4{
	color: white;
	font-size: 60px;

}
.p5_div{

}
.p5{
	color: white;
	font-size: 40px;
	margin-top: 650px;
	font-family: ROBOTO;
	margin-right: 80px;
	float: left;
	margin-left: 100px;

}

.img1{
	height: 400px;
	width: 900px;
	float: right;

}
.p6_div{

}
.img2{
	height: 500px;
	width: 900px;
	float: left;
	margin-top: 250px;
}
.p6{
	color: white;
	font-size: 40px;
	font-family: ROBOTO;
	margin-right: 80px;
	margin-top: 100px;
	float: right;

}
.p7_div{

}
.p7{
	color: white;
	font-size: 40px;
	font-family: ROBOTO;
	float: left;
	margin-top: 250px;
	margin-left: 100px;

}
.img3{
	height: 500px;
	width: 900px;
	margin-top: 300px;
	float: right;
	
}
.h1_1{
	margin-right: 100px;
	float: right;
}
.p8{
	color: white;
	font-size: 80px;
	font-family: ROBOTO;
}
.div9{
	display: flex;
	margin-top: 2500px;

}
.div9_1{
	justify-content: space-around;
	
}
.div9_2{
	justify-content: space-around;

}
.div9_3{
	justify-content: space-around;
	
}
.div10{
	display: flex;
}
.p9{
	color: white;
	font-family: ROBOTO;
	font-size: 25px;
	justify-content: space-around;
	margin-left: 25px;
}
.p10{
	color: white;
	font-family: ROBOTO;
	font-size: 25px;
	justify-content: space-around;
	margin-left: 50px;
}
.p11{
	color: white;
	font-family: ROBOTO;
	font-size: 25px;
	justify-content: space-around;
	margin-left: 120px;
}
.footer{
	margin-top: 150px;
	padding-left: 25px;
	padding-right: 25px;
	display: flex;
	justify-content: space-between;
}
.column1{
	color: white;
	font-family: ROBOTO;
	font-size: 20px;
	margin-left: 25px;
	
}
.column2{
	color: white;
	font-family: ROBOTO;
	font-size: 20px;
	margin-right: 450px;

	
}
.logos{
	height: 50px;
	width: 200px;
	margin-left: 500px;

	

}
.logo{
	height: 50px;
	width: 50px;
}
.footer_bot{
 	float: right;
 	
}
.footer_bot_text{
	color: gray;
	font-size: 12px;
	float: left;
	margin-left: 10px;

}